#screen{
	text-align: right;
	font-size: 24px;
	height: 50px;
	background-color: white;
	width: 615px;
}

.button{
	width: 150px;
	height: 50px;
	border-radius: 20px;
	background-color: #89cff0;
	font-size: 20px;
}


.nothing{
	display: none;
}

.buttons {
	background-color: grey;
}

